
.custom-select {
	position: relative;
	width: 200px;
	font-family: Arial, sans-serif;
}
.selected-option {
	padding: 10px;
	border: 1px solid #ccc;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}
.arrow {
	transition: transform 0.2s;
}
.arrow.open {
	transform: rotate(180deg);
}
.options {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	border: 1px solid #ccc;
	background-color: #fff;
	z-index: 1000;
	max-height: 150px;
	overflow-y: auto;
}
.option {
	padding: 10px;
	cursor: pointer;
    &:nth-child(even){
        background-color: #e8e8e8
    }
}
.option:hover {
	background-color: #0069d9;
    color: #fff;
}
.active {
    background-color: DodgerBlue!important;
    color: #fff;
}
